<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="error-template">
                <h1>Oops!</h1>
                <i class="fa fa-ban fa-10x" aria-hidden="true"></i>
                <div class="error-details">
                    No pudimos dirigirte a ningun lado!
                </div>
                <div class="error-actions">
                    <a [routerLink]="[ '/home' ]" class="btn btn-primary btn-lg"><i class="fa fa-home" aria-hidden="true"></i> Inicio </a>
                    <a [routerLink]="[ '/regulation' ]" class="btn btn-secondary btn-lg"><i class="fa fa-book" aria-hidden="true"></i> Reglamento</a>
                </div>
            </div>
        </div>
    </div>
</div>
