<div class="m-3">
  <app-card-carousel></app-card-carousel>
</div>
<div class="m-3">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-driver-table-tab" data-toggle="tab" href="#nav-driver-table" role="tab" aria-controls="nav-home" aria-selected="true">Pilotos</a>
      <a *ngIf="showEquipo" class="nav-item nav-link" id="nav-team-tab" data-toggle="tab" href="#nav-team-table" role="tab" aria-controls="nav-profile" aria-selected="false">Equipos</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-driver-table" role="tabpanel" aria-labelledby="nav-driver-table-tab">
        <app-table [torneo]="torneo" [showCountryHeader]="showCountryHeader" ></app-table>
    </div>
    <div *ngIf="showEquipo" class="tab-pane fade" id="nav-team-table" role="tabpanel" aria-labelledby="nav-team-tab">
        <app-table [torneo]="torneo" [showEquipo]="showEquipo"></app-table>
    </div>
  </div>
</div>
