<ng-container *ngIf="showLoading; else showContent">
  <div class="d-flex justify-content-center mt-5">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-container>
<ng-template #showContent>
  <div class="container">
    <div class="jumbotron jumbotron-fluid bg-dark justify-content-center" >
      <img [src]="torneo.logo" alt="">
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <h2>Tablas</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="m-3">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-driver-table-tab" data-toggle="tab" href="#nav-driver-table" role="tab" aria-controls="nav-home" aria-selected="true">Pilotos</a>
              <a *ngIf="showEquipo" class="nav-item nav-link" id="nav-team-tab" data-toggle="tab" href="#nav-team-table" role="tab" aria-controls="nav-profile" aria-selected="false">Equipos</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent" *ngIf="data | async">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customSwitch1" [(ngModel)]="showTable">
                <label class="custom-control-label" for="customSwitch1">Mostrar Tabla</label>
              </div>
            <div class="tab-pane fade show active" id="nav-driver-table" role="tabpanel" aria-labelledby="nav-driver-table-tab">
                <app-table [torneo]="torneo" [showCountryHeader]="showCountryHeader" [showCards]="!showTable"></app-table>
            </div>
            <div *ngIf="showEquipo" class="tab-pane fade" id="nav-team-table" role="tabpanel" aria-labelledby="nav-team-tab">
                <app-table [torneo]="torneo" [showEquipo]="showEquipo" [showCards]="!showTable"></app-table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row" *ngIf="dataSanciones | async">
      <div class="col-12">
        <h2>Puntaje</h2>
      </div>
      <div class="col-12">
        <div class="row">
          <ng-container  *ngFor="let point of torneo.puntajes; let i = index">
            <div class="col-4">
              <div class="card mb-3 text-center" [ngClass]="{'badge-oro': i === 0, 'bg-plata': i === 1, 'badge-bronce' : i === 2,'bg-info' : i < 16 && i > 2, 'bg-dark text-white' : i > 15}" style="max-width: 18rem;">
                <div class="card-body" [ngClass]="{' text-white': i !== 0}">
                  <ng-container *ngIf="i < 16">
                    <h5 class="card-title">Pos. {{i+1}}°</h5>
                  </ng-container>
                  <ng-container *ngIf="i > 15">
                    <h5 class="card-title">NT/NP</h5>
                  </ng-container>
                  <p class="card-text">{{point}} Pts.</p>
                </div>
              </div>
            </div>
          </ng-container>
            <div class="col-4">
              <div class="card mb-3 badge-violet text-center" style="max-width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Vuelta Rapida</h5>


                  <p class="card-text">1 Pt.</p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row" *ngIf="dataSanciones | async">
      <div class="col-12">
        <h2>Sanciones</h2>
      </div>
      <div class="col-12">
          <ng-container  *ngFor="let torneoSancion of sancionesList">
            <ng-container *ngIf="torneoSancion.idTorneo === torneo.id">
              <nav>
                <div class="nav nav-tabs" id="nav-tab-sanciones" role="tablist">
                  <a  *ngFor="let fecha of torneoSancion.fechas; let i = index" class="nav-item nav-link" [ngClass]="{'active': i+1 === torneoSancion.fechas.length}" id="nav-{{fecha.fecha}}-table-tab" data-toggle="tab" href="#nav-{{fecha.fecha}}-table" role="tab" aria-controls="nav-home" aria-selected="true">Fecha {{fecha.fecha}}</a>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                  <div *ngFor="let fecha of torneoSancion.fechas; let i = index" class="tab-pane fade show" [ngClass]="{'active': i+1 === torneoSancion.fechas.length}" id="nav-{{fecha.fecha}}-table" role="tabpanel">
                    <ng-container *ngFor="let sancion of fecha.sanciones">
                      <button class="btn" style="pointer-events: none;" [ngClass]="{'btn-info': sancion.gravedad == 0, 'btn-warning': sancion.gravedad == 1, 'btn-danger': sancion.gravedad == 2, 'btn-dark': sancion.gravedad == 3}" type="button" disabled>{{sancion.sancion}}</button>
                        <div class="alert alert-primary" role="alert">
                          {{sancion.piloto}} - {{sancion.descripcion}}
                        </div>
                    </ng-container>
                  </div>
              </div>
            </ng-container>
          </ng-container>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <h2>Carreras</h2>
      </div>
      <div class="col-12">
        <app-calendar [array]="torneo.listaCarreras"></app-calendar>
      </div>
    </div>
  </div>
</ng-template>

