<ng-container *ngIf="showLoading; else showContent">
    <div class="d-flex justify-content-center mt-5">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
</ng-container>
<ng-template #showContent>
    <div class="">
      <div class="row justify-content-center bg-dark">
        <div class="col-lg-12">
          <app-carousel [listCarousel]="listHomeCarousel"></app-carousel>
        </div>
      </div>
      <app-jumbotron [title]="'Sumate a nuestro equipo'" [text]="'Si buscas un equipo donde nos aprendas y crezcas mientras te divertis, somos lo que necesitas!'" [buttonText]="'Sumate!'" [router]="'/team'" class="jumbotron jumbotron-fluid jumbotron-black jumbotron-team"></app-jumbotron>
      <app-jumbotron [title]="'Participá en campeonatos'" [text]="'Organizamos torneos en varias plataformas y juegos. ¡Sumate!'" [buttonText]="'Participá'" [router]="'/championships'" class="jumbotron jumbotron-fluid jumbotron-black jumbotron-championships"></app-jumbotron>
      <app-jumbotron [title]="'Revisá nuestro reglamento'" [text]="'Acá tenes nuestro reglamento para todos los torneos que realizamos.'" [buttonText]="'Reglamento'" [router]="'/regulation'" class="jumbotron jumbotron-fluid jumbotron-black jumbotron-rules"></app-jumbotron>
    </div>
</ng-template>

