<ng-container *ngIf="!showEquipo; else showEquipoTable">
  <h1>Tabla de Pilotos - {{torneo.nombre}}</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr class="text-center">
        <th scope="col" class="align-middle">#</th>
        <th scope="col" class="align-middle">PSN ID</th>
        <th scope="col" class="align-middle" *ngIf="showCountryHeader">País</th>
        <!-- <th scope="col" class="align-middle">Nombre</th> -->
        <th scope="col" class="align-middle" *ngIf="torneo.listaEquipos.length > 0">Equipo</th>
        <ng-container *ngFor="let carrera of torneo.listaCarreras; let i = index">
          <th scope="col" class="align-middle"  [innerHTML]="carrera.pais | countryFlag:carrera.circuito"></th>
          <th scope="col" class="align-middle">VR</th>
        </ng-container>
        <th scope="col" class="align-middle">Puntos</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center" *ngFor="let piloto of torneo.listaPilotos | orderBy:'puntos';let i = index">
          <th scope="row" class="align-middle">{{i+1}}</th>
          <td class="align-middle">{{piloto.psnId}}</td>
          <td class="align-middle" *ngIf="showCountryHeader" [innerHTML]="piloto.pais | countryFlag"></td>
          <ng-container *ngFor="let equipo of torneo.listaEquipos" >
            <td  class="align-middle" *ngIf="equipo.id == piloto.equipo && piloto.equipo > 0">{{equipo.nombre}}</td>
          </ng-container>
          <ng-container *ngFor="let item of piloto.resultados; let i = index">
            <td class="align-middle" [ngClass]="{'table-warning': item == 1, 'table-secondary': item == 2, 'table-danger': item == 3}">{{item | position}}</td>
            <td class="align-middle" [ngClass]="{'bg-violet': piloto.vueltaRapida[i] === 1}"></td>
          </ng-container>

        <td class="align-middle" [ngClass]="{'table-warning': i+1 == 1, 'table-secondary': i+1 == 2, 'table-danger': i+1 == 3}">{{piloto.puntos}}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
<ng-template #showEquipoTable>
    <h1>Tabla de Equipos - {{torneo.nombre}}</h1>
    <table class="table">
      <thead class="thead-dark">
        <tr class="text-center">
          <th scope="col" class="align-middle">#</th>
          <th scope="col" class="align-middle">Equipo</th>
          <th scope="col" class="align-middle">Puntos</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center" *ngFor="let equipo of torneo.listaEquipos | orderBy:'puntos';let i = index">
          <th scope="row" class="align-middle">{{i+1}}</th>
          <td class="align-middle">{{equipo.nombre}}</td>
          <td class="align-middle" [ngClass]="{'table-warning': i+1 == 1, 'table-secondary': i+1 == 2, 'table-danger': i+1 == 3}">{{equipo.puntos}}</td>
        </tr>
      </tbody>
    </table>
</ng-template>

